@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Cinzel:wght@400..900&display=swap');

$primaryColor: #2A52BE;
$secondaryColor: #FEFAFA;
$white: #FFFFFF;
$bgdColor: #f3f4fa;
$textReducedOpacity: #494C54;

@mixin fdja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin fdj{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin fda{
    display: flex;
    flex-direction: column;
    align-items: center
}
@mixin fja{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fj{
    display: flex;
    justify-content: center;
}
@mixin fa{
    display: flex;
    align-items: center
}
@mixin fd{
    display: flex;
    flex-direction: column;
}

// General
*{
    font-family: 'Montserrat';
    -webkit-tap-highlight-color: transparent;
    &:focus-visible{
        outline: none;
    }
}
::-webkit-scrollbar{
    width: 2px;
}
body, html{
    width: 100dvw;
    margin: 0px;
    background-color: $bgdColor;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Cinzel';
    padding: 0px;
    margin: 0px;
}
p{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    line-height: 35px;
    padding: 0px;
    margin: 0px;
    color: $textReducedOpacity;
}
a{
    text-decoration: none;
}
label{
    @include fd();
    gap: 10px;
    span{
        pointer-events: none;
        padding: 0px 10px;
        border-radius: 8px 8px 0px 0px;
        width: fit-content;
    }
}
input{
    width: calc(100% - 20px - 2px);
    height: 40px;
    border: solid 1px #BDBDBD;
    border-radius: 8px;
    padding: 2px 10px;
    font-size: 1rem;
}
input[type="submit" i]{
    width: 100%;
    background-color: $primaryColor;
    color: $white;
    border-color: $primaryColor;
}
.button{
    width: max-content;
    &:hover{
        cursor: pointer;
    }
}
.button1{
    p,
    a{
        padding: 15px;
        background-color: $primaryColor;
        color: $white;
        border-radius: 8px;
        text-align: center;
    }
}
.button2{
    p,
    a{
        padding: 15px;
        background-color: transparent;
        color: $primaryColor;
        border-radius: 8px;
    }
}
.highlight{
    color: #5979d3 !important;
}
.limitedText {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    line-height: 1.2em;
    max-height: 4.8em;
}

// Components
// Components - NavBar
.navbar{
    position: absolute;
    top: 0px;
    @include fa();
    justify-content: space-between;
    width: calc(100% - 80px);
    padding: 0px 40px;
    // color: $white;
    height: 80px;
    background: transparent;
    backdrop-filter: blur(1px);
    .left{
        img{
            height: 100%;
        }
    }
    .right{
        nav{
        @include fa();
        gap: 30px;
        a{
            color: $white;
        }
        }
    }
}
header{
    width: 100%;
    height: max-content;
}
.footer{
    width: 100%;
    height: fit-content;
    margin: 20px 0px 0px;
    min-height: 80px;
    background-color: $bgdColor;
    border-top: solid 1px $primaryColor;
}

// Pages - Group
.landingPage,
.aboutPage,
.contactPage{
    width: 100dvw;
    @include fda;
    h1{
        color: $primaryColor;
        font-size: 3.2rem;
        font-weight: 600;
    }
    .crown{
        position: absolute;
        align-self: center;
        height: 300px;
        width: auto;
        opacity: .04;
    }
}

.landingPage,
.contactPage{
    .contact{
        @include fd;
        gap: 40px;
        position: relative;
        width: calc(100% - 200px);
        .crown{
            height: 435px;
            width: auto;
            left: calc(-100px - 235px);
            align-self: normal
        }
        .content{
            display: grid;
            grid-template-columns: 40% auto;
            gap: 40px;
            .left{
                @include fd;
                gap: 40px;
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .icons{
                    @include fa;
                    gap: 20px;
                    .circle{
                        height: 50px;
                        width: 50px;
                        background-color: #DFE5F5;
                        border-radius: 50%;
                    }
                }
            }
            .form{
                @include fa;
                justify-content: flex-end;
                width: 100%;
                form{
                    position: relative;
                    height: 100%;
                    width: 80%;
                    @include fd;
                    justify-content: space-between;
                }
            }
        }
    }
}

.aboutPage,
.contactPage{
    .navbar{
        background-color: $primaryColor;
        color: $secondaryColor;
    }
}


// Pages - Individual
// Pages - Landing Page
.landingPage{
    gap: 90px;
    .sectionButton{
        @include fja;
        width: fit-content;
        height: fit-content;
        border: solid 1px $primaryColor;
        border-radius: 50px;
        p{
            padding: 1px 15px;
            color: $primaryColor
        }
    }
    .landingBanner{
        @include fja;
        height: calc(100dvh - 80px);
        max-height: 716px;
        width: 100%;
        background-size: cover;
        background-position: center;
        color: $white;
        transition: background-image 1s ease-in-out;
        .navbar,
        .centreText{
            z-index: 1;
        }
        .centreText{
            @include fdja();
            width: 70%;
            .h{
                @include fa;
                gap: 15px;
                color: $white;
                @include fja;
            }
            h1{
                color: $secondaryColor;
                font-size: 4.0rem;
            }
        }
        .heading,
        .paragraph{
            transition: opacity 2s ease-in-out;
        }
        .paragraph{
            text-align: center;
            p{
                color: $white;
            }
        }
        .filter{
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100dvh - 80px);
            max-height: 716px;
            width: 100%;
            background: linear-gradient(rgba(2, 10, 42, 0.9) 0%, rgba(2, 10, 42, 0.15) 100%);
            z-index: 0;
        }
    }
    .whoAreWe,
    .corePillars,
    .innovationZone,
    .contact{
        margin-top: 50px;
    }
    .whoAreWe{
        @include fda;
        gap: 20px;
        width: 100%;
        padding: 30px 0px;
        h1,p{
            width: 70%;
            text-align: center;
        }
    }
    .corePillars{
        position: relative;
        @include fda;
        gap: 30px;
        width: calc(100% - 200px);
        .content{
            display: grid;
            grid-template-columns: auto 30vw;
            gap: 70px;
            h3{
                font-family: 'Montserrat';
                font-weight: 500;
            }
            .left{
                display: grid;
                gap: 60px;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                .pillar{
                    @include fa;
                    gap: 20px;
                    .highlightLine{
                        width: 8px;
                        height: 100%;
                        min-width: 6px;
                        background-color: $primaryColor;
                        border-radius: 10px
                    }
                    .text{
                        @include fd;
                        gap: 10px;
                        padding: 5px 0px;
                        width: 100%;
                        overflow: hidden;
                    }
                }

            }
            .right{
                background-color: #DFE5F5;
                img{
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
    .innovationZone{
        @include fda;
        position: relative;
        gap: 40px;
        width: calc(100% - 200px);
        text-align: center;
        .content{
            display: grid;
            grid-template-areas: "topLeft topRight" "bottom bottom";
            gap: 40px;
            .zone1{
                grid-area: topLeft;
            }
            .zone2{
                grid-area: topRight;
            }
            .zone3{
                grid-area: bottom;
            }
            .zone1,
            .zone2{
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
            }
            .zone3{
                display: grid;
                align-items: center;
                grid-template-columns: auto 320px;
            }
            .zone{
                gap: 20px;
                background-color: #DFE5F5;
                border-radius: 20px;
                padding: 40px;
                .text{
                    @include fda;
                    gap: 10px;
                }
            .image{
                height: 190px;
                width: 320px;
                background-color: $white;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            }
        }
    }
    .crown{
        top: -50px;
    }
}

// Pages - About
.aboutPage{
    .content{
        @include fda;
        margin: 180px 0px 0px;
    }
    .person{
        @include fj;
        gap: 30px;
        height: fit-content;
        overflow: hidden;
        margin: 30px 0px 0px;
        & > .left,
        & > .right{
            @include fdja;
            height: 100%;
            margin: 20px 0px 0px;
        }
        & > .left{
            right: 80px;
            width: 310px;
            h2{
                font-size: 1.1rem;
                margin: 20px auto auto;
                font-weight: 500;
            }
            p{
                font-size: 1rem;
            }
            img{
                height: 370px;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(42, 82, 190, .2);
            }
        }
        & > .right{
            left: 80px;
            width: calc(100% - 730px);
            gap: 20px;
            p{
                font-size: 1rem
            }
        }
    }
    .crown{
        top: 80px;
    }
}

// Pages - Contact
.contactPage{
    margin: 160px 0px 0px;
    .sectionButton{
        display: none;
    }
}


@media only screen and (max-width: 760px){}

// Responsiveness
// Extra Small Devices (Phones)
@media only screen and (max-width: 575.98px){}

// Small Devices (Tablets-Portrait)
@media only screen and (min-width: 576px) and (max-width: 767.98px){}

// Medium Devices (Tablets-Landscape)
@media only screen and (min-width: 768px) and (max-width: 1199.98px){
    .aboutPage{
        .person{
            & > .left{
                width: 350px;
                h2{
                    font-size: 1.2rem;
                }
                img{
                    height: 400px;
                }
            }
            & > .right{
                width: calc(100% - 480px);
            }
        }
    }
}

// Small Devices (Phone-Landscape)
@media only screen and (max-height: 600px) and (min-width: 600px){}

// Large Devices (Laptops/Desktops)
@media only screen and (min-width: 992px) and (max-width: 1199.98px){}

// Extra Large Devices (Large Desktops)
@media only screen and (min-width: 1200px){}